/* Spotify Brand Guidelines */
    /* Brand Colors */
    /* White:     #ffffff */
    /* Sand:      #ecebe8 */
    /* Grey:      #828282 */
    /* Dark Grey: #282828 */
    /* Black:     #191414 */
    /* Green:     #1DB954 */

    /* Font */
    html {
      font-family: 'Circular Spotify', 'Montserrat', 'Helvetica Neue', Arial, Sans Serif;
    }

/* Navbar */
  /*  Search Bar */
    #search {
      text-align: left;
      cursor: text;
      text-transform: none;
    }
    #search.btn:hover {
      border: 0;
      box-shadow: none;
      background-color: transparent;
    }
    input[type="search"] {
      height: 64px !important; /* match height of nav */
    }
    .search-dropdown-content {
      top: 64px !important; /* match height of nav */
/*      max-height: 200%;*/
      vertical-align: middle;
    }
    #album-img {
      max-width: 50%;
      height: auto;
    }

/* Content */
  #spotify-pane {
   /* background-image: url("../images/spotify_icon_green.png");
    background-repeat: no-repeat;*/
    background-color: #191414;
    background-size: 100%;
    color: #1DB954;
  }
  #watson-pane {
    /*background-image: url("../images/watson_icon.png");
    background-repeat: no-repeat;*/
    background-color: white;
    background-size: 100%;
  }

  #spotify-pane, #watson-pane {
    text-align: center;
    height: 600px;
    border: solid;
    /*overflow: scroll;*/
  }

/* Footer */
  .footer-copyright {
    text-align: center;
  }
  /* flex body and main for sticky footer */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.dropdown-row {
/*  display: inline;*/
}

.dropdown-data {
  margin: auto;
}

.search-album-img {
  height: 64px;
  width: auto;
  float: left;
}

.dropdown-row.valign-wrapper {
  text-align: center;
}

