/* Spotify Brand Guidelines */
    /* Brand Colors */
    /* White:     #ffffff */
    /* Sand:      #ecebe8 */
    /* Grey:      #88898c */
    /* Dark Grey: #282828 */
    /* Black:     #121314 */
    /* Green:     #1DB954 */

    /* Font */
    html {
      font-family: 'Circular Spotify', 'Montserrat', 'Helvetica Neue', Arial, Sans Serif;
    }

    nav {
      background-color: #282828;
    }

    #content {
      margin-top: 10px;

    }

.collection {
    margin: 0;
    border: 1px;
    border-top: 1px solid #282828;
    border-bottom: 1px solid #282828;
    border-radius: 0;
    overflow: hidden;
    position: relative;
}

.collection .collection-item {
    line-height: 1.5rem;
/*    padding: 14px 20px;
    margin: 0; */
    color: #fff;
    cursor: pointer;
    height: 45px;
/*    color: #a0a0a0;*/
    background-color: #181818;
    border-bottom: 1px solid #282828;
    cursor: pointer;
    -webkit-transition: background-color .4s;
    transition: background-color .4s;
}
.collection-item:hover, .add-playlist {
  background-color: #282828 !important;
}
.active-collection-item {
  color: #1ed760 !important;
  border-left: 5px solid #1ed760
}
.add-playlist {
   color: #1ed760 !important;
}

.collection.with-header .collection-header {
    background-color: #282828;
    padding: 0;
    color: #fff;
    height: 80px;
    position: relative;
    border: 1px solid #282828;
}

/* Navbar */
  /*  Search Bar */
    #search {
      text-align: left;
      cursor: text;
      text-transform: none;
    }
    #search.btn:hover {
      border: 0;
      box-shadow: none;
      background-color: transparent;
    }
    input[type="search"] {
      height: 64px !important; /* match height of nav */
    }
    .search-dropdown-content {
      top: 64px !important; /* match height of nav */
/*      max-height: 200%;*/
      vertical-align: middle;
    }
    #album-img {
      max-width: 50%;
      height: auto;
    }

/* Content */



/* Footer */
  .footer-copyright {
    text-align: center;
  }
  /* flex body and main for sticky footer */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.dropdown-row {
/*  display: inline;*/
}

.dropdown-data {
  margin: auto;
}

.search-album-img {
  height: 64px;
  width: auto;
  float: left;
}

.dropdown-row.valign-wrapper {
  text-align: center;
}

#playlist-pane>.btn {
  width: 50%;
}

#pane, #playlist-pane {
  height: 400px;

}
#pane {
  display: inline-flex;
}
#playlist-pane {
  height: 381px;
  overflow-y: scroll;
  padding-right: 0;
}
.parent, .add-child {
  width: 100%;
}
.add-child {
    position: relative;
    top: 40px;
}

.float-left {
  float: left;
}

#max-content{
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: inline-block;
}

.brand-logo {
  background-image: url("../images/spotify_logo_white.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 150px;
  height: 64px; /*Nav height*/
}

.wrapper-max-height {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
#select-playlist-prompt {
  color: #1ed760;
}

.row .col {
    padding: 0 1.5rem;
}

.max-height {
  height: 400px;
}

.float-left, iframe {
  margin-left: 10px;
}

table {
    max-width: 100%;
    background-color: #181818;
}

thead {
    background: #282828;
    border: 1px solid #282828;
}

.in-tab {
  min-width: 200px;
}

.playlist-add {
  font-size: 100px;
  margin: auto;
}

#spotify-pane {
  padding: 2%;
}

footer.page-footer {
    background-color: #1ed760;
}

.make-green {
  color: #1ed760;
}